# PostgreSQL
POSTGRES_DB=blackjack
POSTGRES_USER=blackjack
POSTGRES_PASSWORD=change-me-postgres-password
POSTGRES_HOST=db
POSTGRES_PORT=CHANGE-ME-POSTGRES-PORT

# Django
DJANGO_SECRET_KEY=change-me-django-secret-key

# Django admin
DJANGO_SUPERUSER_USERNAME=admin
DJANGO_SUPERUSER_EMAIL=admin@example.com
DJANGO_SUPERUSER_PASSWORD=ADMINpassword-123!

# Django player
DJANGO_PLAYER_USERNAME=player
DJANGO_PLAYER_EMAIL=player@example.com
DJANGO_PLAYER_PASSWORD=PLAYERpassword-123!

# Redis
REDIS_HOST=cache
REDIS_PORT=CHANGE-ME-REDIS-PORT
REDIS_DB=1
